<form method="post" action="{{ path('app_releves_delete', {'id': releve.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer ce relevé ?');" class="btn">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ releve.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
